{{!-- username, password, passwordRepeat --}}
{{errorMessage}}

<form action="/user/signup" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="password" placeholder="password" >
    <input type="text" name="passwordRepeat" placeholder="passwordRepeat">

    <button>submit</button>
</form>